.grid-container {
  background-color: #ccc;
  height: 500px;
  width: 500px;
  display: grid;
  /*I will need a solution for the columns to be adjustable, based on user input*/
}

/* The border is temporary, have it on so I can make sure that the divs are aligned */
.grid-item {
  text-align: center;
  border: 1px solid black;
}
